h1{
    text-align: center;
    box-sizing: border-box;
    margin: 1%;
}
.section{
    position: relative;
    box-sizing: border-box;
    border: solid rgb(0, 0, 0) 2px;
    width: 30%;
    height: auto;
    float:left;
    padding: 2%;
    margin: 1.5%;
    background-color: rgb(155, 155, 155);
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subbox{
    position: absolute;
    top: -1%;
    left: 82.3%;
    border: 1px solid black;
    text-align: center;
    width: 17.5%;
    height:auto;
    font-weight: 600;
}
#chicken{
    background-color: pink;

}
#beef{
    background-color: brown;

}
#sushi{
    background-color: lightsalmon;

}
@media only screen and (min-width:1200px) {
    .section{
        width: 30%;
        height: auto;
    }
}
@media only screen and (min-width:768px) and (max-width:1199px){
    #one{
        width: 46%;
    }
    #two{
        width: 46%;
    }
    #three{
        width: 95%;
    }   
}
@media only screen and (max-width:767px) {
    .section{
        width: 98%;
        height: auto;
    }
}
